body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: url('https://media0.giphy.com/media/IMDSOJvLn9RaU/giphy.gif') no-repeat center 33% fixed; 
  background-size: cover;
}
#email {
  position: absolute;
  height: 100%;
  width: 100%;
}
