@font-face {
	font-family: "ModeSeven";
	src: url("fonts/ModeSeven/ModeSeven.eot?") format("eot"),
    url("fonts/ModeSeven/ModeSeven.woff") format("woff"),
    url("fonts/ModeSeven/ModeSeven.ttf") format("truetype"),
    url("fonts/ModeSeven/ModeSeven.svg#ModeSeven") format("svg");
	font-weight: normal;
	font-style: normal;
}

:root {
  --bgcolor: #da9f00;
}

.font--modeseven {
  font-family: 'ModeSeven', monospace;
}

body {
  margin: 0;
}

#canvas {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: -0.017em;
  width: 100%;
  height: 100vh;
  background-color: var(--bgcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1000ms;
  transition-property: filter;
}

#canvas.flickering {
  filter: brightness(94%);
}

#canvas .canvas-inner {
  font-size: 1.25em;
  position: relative;
  height: 18.5em;
  width: 20em;
}

.layer {
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.layer.center {
  text-align: center;
}

#layer-4 {
  top: -1em;
  font-size: 150%;
  line-height: 90%;
}

#layer-5 {
  top: calc(75% + 1.75em);
}

header, 
#layer-5 {
  font-size: 1rem;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 2px;
}

.link {
  position: fixed;
  top: 0.5rem;
  z-index: 20;
}
  
.link#email {
  left: 0.5rem;
}
  
.link#about {
  right: 0.5rem;
}

#about-modal {
  position: fixed;
  top: -0.25em;
  right: 0;
  margin: 3rem 0 0;
  max-width: 30em;
  opacity: 0;
  transition-duration: 250ms;
  transition-property: opacity top;
  cursor: default;
  background-color: var(--bgcolor);
  z-index: 10;
}

#about-modal.about-modal__visible {
  opacity: 1;
  top: 0;
  cursor: auto;
}

#about-modal p {
  margin: 0 0.5rem 1em;
}

@media only screen and (max-width: 400px) {
  #canvas .canvas-inner {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1500px) {
  #canvas .canvas-inner {
    font-size: 2vw;
  }

  header, 
  #layer-5 {
    font-size: 1.15rem;
  }
}

@media only screen and (min-width: 1501px) {
  #canvas .canvas-inner {
    font-size: 1.9em;
  }

  header, 
  #layer-5 {
    font-size: 1.25rem;
  }
}