@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
@import url("https://use.typekit.net/fdl2ihf.css");

@font-face {
  font-family: "Compagnon";
  src: url("/xmas2021/dist/fonts/Compagnon-Roman.woff2") format("woff2"),
  url("/xmas2021/dist/fonts/Compagnon-Roman.woff") format("woff"),
  url("/xmas2021/dist/fonts/Compagnon-Roman.eot") format("eot");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
