html, 
body {
    height: 100%;
}

body {
    font-family: sans-serif;
    background: var(--color--fg);
    color: white;
    margin: 0;
}

#message br {
    display: block;
    margin-top: 1em;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    color: var(--color--fg);
    padding: 3em 0.5em;
    box-sizing: border-box;
    min-height: 100%;
    line-height: 1.2;

    @media screen and (min-width: 45em) {
        flex-wrap: nowrap;

        .card {
            &:nth-child(1) {
                margin-bottom: 5em;
            }

            &:nth-child(2) {
                margin-top: 5em;
            }
        }
    }

    .card {
        &:nth-child(1) {
            mask-image: radial-gradient(0.75em at 1.5em 1.5em,transparent 95%,#000 100%);

            &.active {
                mask-image: radial-gradient(0.75em at calc(100% - 1.5em) 1.5em,transparent 95%,#000 100%);
            }
        }

        &:nth-child(2) {
            mask-image: radial-gradient(0.7em at 2em 2.5em,transparent 95%,#000 100%);
        }
    }

    @media screen and (max-width: 25rem) {
        font-size: 0.8em;
    }

    > .card {
        width: 24em;
        align-self: center;
    }

    #name {
        font-family: 'IM Fell English', serif;
        font-size: 1.5em;
        text-align: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &::after {
            content: "↪";
            content: "View greeting";
            font-size: 69%;
            display: block;
            margin-top: 0.8em;
        }
    }
}

.card {
    background: var(--color--bg);
    padding: 1.85em;
    //aspect-ratio: 6/4;
    min-height: 16em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-child(2) {
        border-radius: 2em;
        transform: rotate(-3deg);
    }
}

#message {
    position: relative;

    &.active {
        transform: rotate(3deg);

        #name {
            display: none;
        }
    }

    &:not(.active) {
        transform: rotate(3deg);


        #content {
            display: none;
        }
    }
}

audio {
    display: none;
    height: 0;
    width: 0;
}
